<% include ../partials/header %>

<div class="container">
	<div style="width:30%; margin:25px auto">	

		<h1>Edit <%=recipe.name%></h1>

		<form action="/recipes/<%=recipe._id%>?_method=PUT" method="POST">
			
			<div class="form-group">
				<label>Recipe Name:</label>
				<input type="text" name="recipe[name]" placeholder="Name" value="<%=recipe.name%>" class="form-control">
			</div>

			<div class="form-group">
				<label>Image URL:</label>
				<input type="text" name="recipe[image]" placeholder="Image URL" value="<%=recipe.image%>" class="form-control">
			</div>

			<div class="form-group">
				<label>Description:</label>
				<input type="text" name="recipe[description]" placeholder="Description" value="<%=recipe.description%>" class="form-control">
			</div>

			<div class="form-group">
				<label>Ingredients:</label>
					
					<div id = "ingredientHolder">
						<div>
  							<input type="text" name="ingredients" class="form-control" value="<%=recipe.ingredients[0]%>">
						</div>

						<% for(i=1; i<recipe.ingredients.length; i++){ %>
							<div class="input-group">
								<input type="text" name="ingredients" class="form-control" value="<%=recipe.ingredients[i]%>">
								<span class="input-group-addon delete-form">X</span>
							</div>
						<% } %>

					</div>
						
				<button type="button" id="addIngredient">Add Ingredient</button> 
			</div>

			<div class="form-group">
				<label>Instructions:</label>
				
				<div id="instructionHolder">
					<ol>
						<li>
							Step <span class="step"></span>	
							<textarea name="instructions" class="form-control" rows="3"><%=recipe.instructions[0]%></textarea>			
						</li>
						
						<% for(i=1; i<recipe.instructions.length; i++){ %>
							<li>
								Step <span class="step"></span>
								<textarea name="instructions" class="form-control" rows="3"><%=recipe.instructions[i]%></textarea>
								<span class="delete-form">X</span>
							</li>
						<% } %>
					</ol>
				</div>
				<button type="button" id="addInstruction">Add instruction</button>
			</div>

			<div class="form-group">
				<button class="btn btn-warning">Update</button>
			</div>

		</form>

		<a href="/recipes/<%=recipe._id%>">Go back</a>

	</div>
</div>

<% include ../partials/footer %>
