<% include ../partials/header %>




<!-- <br><a href="/recipes/new">Add New Recipe</a> -->


<div class="container">
	
	
		<h1>Breakfast Recipes</h1>
	

	<div class="grid">
  	<div class="grid-sizer"></div>
		
		<% recipes.forEach(function(recipe){ %>
			<div class="grid-item">
				
				<a href="/recipes/<%=recipe._id%>" class="grid-item-inner">
					<h2><%=recipe.name%></h2>
					<img class="img-responsive " src="<%=recipe.image%>" onError="this.onerror=null;this.src='/img/placeholder.svg';">
					<p><%=recipe.description%></p>
					<!-- <a href="/recipes/<%=recipe._id%>">Learn More</a>	 -->
				</a>

			</div>
	<% }); %>

	</div>

</div>

<% include ../partials/footer %>