<% include ../partials/header %>

<div class="container">
		
	<div class="row recipe-index-header">
		<div class="col-xs-8">
			<h1>Breakfast Recipes</h1>
		</div>
		<div class="col-xs-4">
			<a href="/recipes/new" class="btn btn-lg btn-warning">Add New Recipe</a>
		</div>
	</div>
		
	<div class="grid">
  	<div class="grid-sizer"></div>
		
		<% recipes.forEach(function(recipe){ %>
			<div class="grid-item">
				
				<a href="/recipes/<%=recipe._id%>" class="grid-item-inner">
					<h2><%=recipe.name%></h2>
					<img class="img-responsive " src="<%=recipe.image%>" onError="this.onerror=null;this.src='/img/placeholder.svg';">
					
					<p><%=recipe.description%></p>
					<div class="extra-info">
						<p>Recipe by: <strong><%=recipe.author.username%></strong></p>
						
						<%var totalTime = parseInt(recipe.prepTime)+parseInt(recipe.cookTime)%>
						
						<strong><i class="fa fa-clock-o" aria-hidden="true"></i></strong> <%=totalTime%> minutes

						&nbsp;	
						<span class="servings"><strong><i class="fa fa-pie-chart" aria-hidden="true"></i></strong> <%=recipe.servings%> 
						<%if(recipe.servings<2){%>
							serving
						<%} else {%>
							servings
						<%}%>
						</span>
					</div>


							
				</a>

			</div>
		<% }); %>

	</div>

	<div class="row recipe-index-bottom">
		<div class="col-xs-12">
			<a href="/recipes/new" class="btn btn-lg btn-warning">Add New Recipe</a>
		</div>
	</div>

</div>

<% include ../partials/footer %>