<% include ../partials/header %>

<div class="container">
		
	<div class="row recipe-index-header">
		<div class="col-xs-8">
			<h1>Breakfast Recipes</h1>
		</div>
		<div class="col-xs-4">
			<a href="/recipes/new" class="btn btn-lg btn-warning">Add New Recipe</a>
		</div>
	</div>
		
	<div class="grid">
  	<div class="grid-sizer"></div>
		
		<% recipes.forEach(function(recipe){ %>
			<div class="grid-item">
				
				<a href="/recipes/<%=recipe._id%>" class="grid-item-inner">
					<h2><%=recipe.name%></h2>
					<img class="img-responsive " src="<%=recipe.image%>" onError="this.onerror=null;this.src='/img/placeholder.svg';">
					<p><%=recipe.description%></p>
					<!-- <a href="/recipes/<%=recipe._id%>">Learn More</a>	 -->
				</a>

			</div>
		<% }); %>

	</div>

	<div class="row recipe-index-bottom">
		<div class="col-xs-12">
			<a href="/recipes/new" class="btn btn-lg btn-warning">Add New Recipe</a>
		</div>
	</div>

</div>

<% include ../partials/footer %>