<% include ../partials/header %>




<div class="container">
	
	<h1><%=recipe.name%></h1>

	<div class="recipe-show-container">

		<img class = "recipe-show-img" src="<%=recipe.image%>"onError="this.onerror=null;this.src='/img/placeholder.svg';">

		<p>Added on <%=recipe.created.toDateString()%></p>

		<p><%=recipe.description%></p>
		
		<h2>Ingredients</h2>
		<ul>
			<% recipe.ingredients.forEach(function(ingredient){ %>
				<li><%=ingredient%></li>
			<% }) %>
		</ul>
		
		<h2>Comments</h2>
		
		<% recipe.comments.forEach(function(comment){ %>
			<p><strong><%=comment.author%></strong>: <%=comment.text%></p>
		<% }) %>

		<a class="btn btn-warning" href="/recipes/<%=recipe._id%>/comments/new">Add New Comment</a>

		<a class="btn btn-success" href="/recipes/<%=recipe._id%>/edit">Edit</a>
		<br><br>

		<!-- Delete -->
		<form action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST">
			<button class="btn btn-danger pull right">Delete</button>
		</form>

		<a href="/recipes">Go Back</a>

	</div>

</div>



<% include ../partials/footer %>

