<% include ../partials/header %>




<div class="container">
	<div class="recipe-show-name">
		<% if(recipe.source.length>3){ %>
			<p><em>Recipe found from: <a href="<%=recipe.source%>"><%=recipe.source%></a></em></p>
		<% } %>
	</div>
		
	<div id="recipe-show-container" class="col-md-9 recipe-container">
		<div class="row">
	
			
			<div class="col-md-6">
					<h1><%=recipe.name%></h1>

				<!-- 	<div class="rating recipe-info-box">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-half-o"></i>
						<i class="fa fa-star-o"></i>
						<a href="">(Check out reviews)</a>	
					</div>
 -->
					
					<div class="recipe-info-box">
						<strong>Created By:</strong> <%=recipe.author.username%>
					</div>

					<p class="recipe-info-box recipe-description">&ldquo;<%=recipe.description%>&rdquo;</p>




					<div class="row recipe-info-box">
						<div class="col-xs-5">
							<%var totalTime = parseInt(recipe.prepTime)+parseInt(recipe.cookTime)%>
							<strong>Total Time: </strong>
							<br> <%=totalTime%> minutes
						</div>
						<div class="col-xs-7">
							<span class="prep-cook-time"><strong>Prep Time: </strong><%=recipe.prepTime%> minutes
							<br><strong> Cook Time: </strong><%=recipe.cookTime%> minutes</span>
						</div>

						
					</div>

					<div class="row recipe-info-box">
						<div class="col-xs-12">
							<strong>Yield:</strong> <%=recipe.servings%> servings
						</div>
					</div>
					
			</div>
				
			<div class="col-md-6">
				<img class = "recipe-show-img" src="<%=recipe.image%>"onError="this.onerror=null;this.src='/img/placeholder.svg';">
			</div>

		</div>	<!-- /row -->
		
		
		<%if(currentUser && recipe.author.id.equals(currentUser._id)) { %>
			<div class="row">
				<div class="col-xs-12 edit-options">
					<form action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST">
						<a class="btn btn-info  pull-left" href="/recipes/<%=recipe._id%>/edit">Edit</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn btn-danger">Delete</button>
					</form>
				</div>
			</div>
		<%}%>

		<hr>

		<!-- <p>Added on <%=recipe.created.toDateString()%></p> -->

		<div class="row">
			<div class="col-md-4">
				<h2>Ingredients</h2> 
				
				<ul>
					<% recipe.ingredients.forEach(function(ingredient){ %>
						<li><%=ingredient%></li>
					<% }) %>
				</ul>
			</div>

			<div class="col-md-8">
				<h2>Instructions</h2>
				<ol>
					<% recipe.instructions.forEach(function(instruction){ %>
						<li><%=instruction%></li>
					<% }) %>
				</ol>
			</div>
		</div>

		<hr>

		<div class="row show-recipe-comments">
			<div class="col-xs-12">
				<h2>Comments</h2>
				
				<% recipe.comments.forEach(function(comment){ %>
					
					<div class="comment">
						<strong><%=comment.author.username%></strong>: 
						
						<br><%=comment.text%>
						

						<%if(currentUser && comment.author.id.equals(currentUser._id)) { %>
						<form class="delete-form" action="/recipes/<%=recipe._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
							<a href="/recipes/<%=recipe._id%>/comments/<%=comment._id%>/edit" class="btn btn-xs btn-info">Edit Comment</a>
							<button class="btn btn-xs btn-danger">Delete</button>
						</form>
						<% } %>
					</div>

				<% }) %>

				<a class="btn btn-warning" href="/recipes/<%=recipe._id%>/comments/new">Add New Comment</a>



			</div>
		</div>

	</div>

	<section id="sidebar" class="col-md-3">

		<!-- function found at //http://stackoverflow.com/questions/7176908/how-to-get-index-of-object-by-its-property-in-javascript-->
		<%function findWithAttr(array, attr, value) {
		    for(var i = 0; i < array.length; i ++) {
		        if(array[i][attr] == value) {
		            return i;
		        }
		    }
		}%>

		<!-- this array will contain the locations of all the recipes displayed on the page -->
		<% var locationArray = [];%>

		<%var recipeID = recipe._id.toString()%>

		<%var recipeLocation = findWithAttr(otherrecipes, '_id', recipeID);%>

		<%locationArray.push(recipeLocation);%>
		
		<%var num = 0; %>

		<!-- Below logic is used in case there's less than 3 recipes in the database -->
		<%var length = 0%>
		<% if (otherrecipes.length <3){ %>
			<% length = 0; %>
		<% } else { %>
			<% length = 3; %>
			<h3>Other Recipes</h3>
		<% }; %>

		
			
			<div class="other-recipes-grid">
			<div class="other-recipes-grid-sizer"></div>
			<% while(num<length){ %>
					<% x = Math.floor((Math.random() * otherrecipes.length) + 0); %>
					<% if(locationArray.indexOf(x)=== -1){ %>
						<% locationArray.push(x);%>	
						
						<div class="other-recipes-grid-item">
							<a href="/recipes/<%=otherrecipes[x]._id%>" class="recipe-container">
								<h4><%=otherrecipes[x].name%></h4>
								<img class="img-responsive " src="<%=otherrecipes[x].image%>" onError="this.onerror=null;this.src='/img/placeholder.svg';">	
								
							</a>
						</div>
						<%num++;%>
					<%} %>
			<% }; %>
			</div){>
		

	</section>



</div> <!-- /container -->




<% include ../partials/footer %>

